<p><__trans phrase="You can describe some additional sub-states with one by one in a line. A line starting with semicolon will be ignored."></p>

<mtapp:setting
    id="draft"
    label="<__trans phrase="Additional states on draft">"
    hint="<__trans phrase="">"
    show_hint="0">
    <textarea name="draft" class="text low"><$mt:var name="draft" escape="html"$></textarea>
</mtapp:setting>

<mtapp:setting
    id="published"
    label="<__trans phrase="Additional states on published">"
    hint="<__trans phrase="">"
    show_hint="0">
    <textarea name="published" class="text low"><$mt:var name="published" escape="html"$></textarea>
</mtapp:setting>

<mtapp:setting
    id="scheduled"
    label="<__trans phrase="Additional states on scheduled">"
    hint="<__trans phrase="">"
    show_hint="0">
    <textarea name="scheduled" class="text low"><$mt:var name="scheduled" escape="html"$></textarea>
</mtapp:setting>
